
.nav {
	padding-top: 20px;
	font-size: 16px;
	margin-right: 30px;
}

.navbar-nav {
	line-height: 100px;
	margin-top: 10px;
	margin-right: 30px;
	border-radius:0;
}

.navbar-inner {
    background-color: white;
    background-image: linear-gradient(to bottom, blue, green);
    background-repeat: repeat-x;
    border: 1px solid yellow;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #007700;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.navbar-nav .active {
	color: yellow;
	background: blue;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: green;
}

.btn-group.open .btn.dropdown-toggle {
  background-color:green;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color:white;
  background-color:green;
}

.navbar .nav > li > a {
    color: white;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #ffffff;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  font-family: calibri;
  color: white;
  text-shadow: 0 0px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover{
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: white;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #FFF000;
  white-space: nowrap;
}

.navbar-link {
  color: white;
}

.navbar-link:hover {
  color: white;
}				

#myNavbar.navbar-default .navbar-brand {
    color: yellow;
}
#myNavbar.navbar-default {
    font-size: 12px;
    background: #005900; /* bg color of nav-bar */
    border-width: 0px;
    border-radius: 0px;
	border-bottom: 3px solid #FFF000;
}
#myNavbar.navbar-default .navbar-nav>li>a {
    color: #fff; /* font-color of menus */
    font-size: 15px;  /* font-size of menus */
    
}
#myNavbar.navbar-default .navbar-nav>li>a:hover,
#myNavbar.navbar-default .navbar-nav>li>a:focus {
    color: #FFF000; /* color of menu's font when hover*/
    background-color: linear-gradient(yellow,green);  /* color of bg of menus when hover*/
}
#myNavbar.navbar-default .navbar-nav>.active>a,
#myNavbar.navbar-default .navbar-nav>.active>a:hover,
#myNavbar.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF000; /* color of menu's font when hover*/
    background-color: lime;  /* color of bg of menus when hover*/
}
#myNavbar.navbar-default .navbar-toggle {
    border-color: yellow;
}
#myNavbar.navbar-default .navbar-toggle:hover,
#myNavbar.navbar-default .navbar-toggle:focus {
    background-color: yellow;  /*bg-icon bars*/
}
#myNavbar.navbar-default .navbar-toggle .icon-bar {
    color: black;
}
#myNavbar.navbar-default .navbar-toggle:hover .icon-bar,
#myNavbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: green;  /*icon-bars*/
}

/*.caret-up {
	width: 0; 
	height: 0; 
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;

	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
} */

#container-navbar{
	height:50px;
	padding-left:20px;
}

thead{
    font-size: 14px; 
}

tbody{
  font-size: 14px;
}


a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: transparent;
	color: black;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
	font-weight: active;
}
 
a.paginate_active {
	color: black;
    border: 1px solid black;
}
 
a.paginate_button_disabled {
    color: black;
}
.paging_full_numbers a:active {
    outline: none;
	background-color: gold;
}
.paging_full_numbers a:hover {
    text-decoration: none;
	color: gold;
}
 
div.dataTables_paginate span>a {
    width: 20px;
    text-align: center;
}
 
div.dataTables_info {
    padding: 9px 6px 6px 6px;
}
