	#header{
		color: #ffe34c;
		text-shadow: 3px 3px 3px black;
		height:70px;
		width: 900px;
		font-family: "Calibri";
		font-weight: bold;
		font-size: 38px;
		text-align:center;
	}

	#header2{
		color: #ffe34c;
		text-shadow: 2px 2px black;
		height:53px;
		width: 900px;
		font-family: "Calibri";
		font-weight: bold;
		font-size: 28px;
		text-align:center;
	}


