body {
	width: 100%;
	/*overflow: hidden;	*/
}

.sNotify_message {
	width: 350px;
	padding: 20px;
	background-color: white;
	position: absolute;
	display: none;
	right: 100px;
	top: 150px;
	margin-bottom: 20px;
	text-align: justify;
	border: 1px solid #808080;
}

.sNotify_close {
	display: block;
	padding: 3px;
	position: absolute;
	top: 3px;
	right: -5px;
	color: white;
	font-weight: bold;
	width: 15px;
	height: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 10px;
	background-image:url(close_pop.png);
	background-repeat:no-repeat;
}

.sNotify_block{
	border:2px solid #666666;
	z-index:600;
	margin-right:200;
}