/* below line is used for online google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

div.container{
	width: 960px;
	height: 610px;
	margin:50px auto;
	font-family: 'Droid Serif', serif;
}

.req{
		border:2px solid black;
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
}
p{
	margin-top: 5px;
	margin-bottom: 5px;
	color:green;
	font-weight: bold;
}

h2{
	background-color: #FEFFED;
	padding: 25px;
	margin: 0 -50px;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

hr{
	margin: 0 -50px;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom:25px;
}

span{
	font-size:13.5px;
}

label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

.heading{
	font-size: 17px;
}



input[type=checkbox]{
margin-bottom:10px;
margin-right: 10px;
}


input[type=submit]:hover{
 background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

/* -------------------------------------
    CSS for sidebar (optional) 
---------------------------------------- */
.fugo{
	float:right;
}

